/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-black: #000000;
  --clr-grey: #777777;
  --clr-grey-10: #777777;
  --clr-grey-11: #969696;
  --clr-white: #fff;
  --ff-primary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
  line-height: 2;
}
a {
  text-decoration: none;
  color: var(--clr-black);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-family: var(--ff-primary);
}
a:hover {
  color: var(--clr-grey-10);
}
a:active {
  color: var(--clr-grey-10);
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  color: var(--clr-black-1);
  font-weight: 300;
}
h1 {
  font-size: 1.6rem;
  line-height: 5;
}
h2 {
  font-size: 1.1rem;
  color: #666;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: white;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-grey-10);
  background: #fafafa;
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
/*////////////////////Grid////////////////*/
.wrapper {
  padding: 2% 4% 2% 4%;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  -ms-grid-columns: 280px 1fr;
  grid-template-columns: 280px 1fr;
  -ms-grid-rows: 2rem 1fr auto;
  grid-template-rows: 2rem 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 4%;
  top: 3%;
}
#logo {
  font-weight: bold;
  font-size: 1.7rem;
}
main {
  grid-area: content;
}

/*=====Sidebar=====*/
.sidebar {
  grid-area: sidebar;
  border-right: 2px solid rgb(160, 154, 154);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  text-transform: capitalize;
  color: white;
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: fixed;
  padding-right: 6%;
  top: 5rem;
  left: 4%;
}

/*categories*/

.categories {
  text-transform: capitalize;
  padding-top: 5%;
}

/*Navigation about and contact */

.nav-container {
  padding: 10% 0 32% 0;
}

/*Social links */
.social-links-container {
  padding: 2% 0 5% 0;
}
.social-links {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.social-link {
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--clr-black);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-grey-10);
}

/*Mobile Menu*/
.mobile {
  display: none;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
}
/*footer*/

.footer {
  grid-area: footer;
}
.footer h5,
.footer h5 span {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "footer";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 4rem /* Header */ 1fr /* Content */ auto;
    grid-template-rows:
      4rem /* Header */
      1fr /* Content */
      auto; /* Footer */
    height: 100%;
  }
  .mobile {
    background: var(--clr-black);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding-top: 112px;
    padding-top: 7rem;
    opacity: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .showMobileMenu {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .categories li a,
  .mobile li a,
  .mobile-nav a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: white;
    letter-spacing: var(--spacing);
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    font-size: 22.4px;
    font-size: 1.4rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: var(--radius);
  }

  .social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 40px;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: white;
    cursor: pointer;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .close-btn:hover,
  .categories li a:hover,
  .mobile li a:hover,
  .mobile-nav a:hover {
    color: var(--clr-grey-10);
  }
  header {
    position: inherit;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -5%; */
  /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1%; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 1%;
}
.grid-item {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 1;
}
.grid-item:hover {
  opacity: 0.8;
}

.container-view {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding: 48px 32px 80px 32px;
  padding: 3rem 2rem 5rem 2rem;
}

.container-view div {
  margin: 0 auto;
}

.carousel-navigation {
  position: fixed;
  bottom: 10%;
  left: 55%;
  text-transform: uppercase;
}

/*About page */
.about,
.contact {
  padding: 0 1%;
  width: 80%;
}
.about h4,
.contact h4 {
  line-height: 1.5em;
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: 400;
}
.about p,
.contact p {
  line-height: 1.5em;
  font-weight: 300;
  font-size: 19.2px;
  font-size: 1.2rem;
}
.contact p {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 3%;
}
/*Contact page */
.contact-form {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 40vw;
}
.form-group {
  padding: 0.8rem 1.1rem;
}
.form-control {
  display: block;
  width: 80%;
  padding: 12px 16px;
  padding: 0.75rem 1rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  background: #fafafa;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 40%;
  background-color: #000000;
  color: white;
  padding: 0.5rem;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.5rem;
  z-index: 999;
}
.arrow-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  touch-action: pan-right;
}
.arrow-right:hover {
  cursor: e-resize;
}
.arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  touch-action: pan-left;
}
.arrow-left:hover {
  cursor: w-resize;
}

@media screen and (max-width: 768px) {
  .container-view {
    width: 100%;
  }
}
